<%- include("../partials/header.ejs")%>
<div class="container">
    <h3 class="font-weight-light">Login</h3>
    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button>Login</button>
    </form>
</div>
<%- include("../partials/footer.ejs")%>